.selected-date {
  background-color: #88c7f4;
  color: #fff;
}

.react-calendar__tile-- {
  color: #fff;
}

.react-calendar {
  background-color: #242424;
  border-radius: 5px;
  width: 700px;
}

.react-calendar__tile--now {
  background-color: #fbb5ff;
  color: #fff;
}
