.selected-date {
  /* background-color: rgb(136, 199, 244); */
  color: #fff;
}

.react-calendar__tile--active {
  color: #fff;
  background-color: rgb(136, 199, 244);
}

.react-calendar {
  background-color: #242424;
  border-radius: 5px;
  width: 700px;
}

.react-calendar__tile--now {
  background-color: #fbb5ff;
  color: #fff;
}
