#popup-container {
  width: 700px;
  height: 400px;
  padding-top: 50px;
  border-radius: 5px;
}

.popup {
  background-color: rgb(163, 163, 255);
  width: 700px;
  min-height: 280px;
  border-radius: 5px;
}

#inputWorkoutNotes {
  display: flex;
  flex-direction: column;
}
